@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c0c4e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #161691;
}

header {
  background-color: #eee;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

header .logo {
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a {
  text-decoration: none;
  color: #3a6cf4;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:hover {
  color: #601cfc;
}

section {
  padding: 100px 200px;
  margin-bottom: 10px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(background.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #de7a16;
  font-size: 2.5em;
  font-weight: 600;
}

.main h3 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px 0 10px;
}

.main li {
  list-style-position: inside;
  padding: 0px;
  margin: 0px 0 20px 20px;
  list-style-type: square;
}

.main li::marker {
  color: #4e9eff;
}

br {
  width: 0;
}

.main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 1px;
  padding: 0.9375em 2.1875em;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: transform 0.7s ease;
}

.main-btn:hover {
  transform: scale(1.1);
  background-color: #0a49f6;
}

.main .main-btn {
  margin-top: 20px;
}

.social-icons a {
  color: white;
  font-size: 2em;
  padding-right: 33px;
}

.social-icons a:nth-child(1):hover {
  color: #0077B5;
}

.main .social-icons a:nth-child(2):hover i {
  background: #833ab4;
  background: linear-gradient(200deg,
      #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icons a:nth-child(3):hover {
  color: #1877F2;
}

.social-icons a:nth-child(4):hover {
  color: #FF0000;
}

.title {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: transform 0.7s ease;
}

/* .card a {
  text-decoration: none;
  color: black;
} */

/* .card:hover a {
  color: #0a49f6;
} */

.card:hover {
  transform: scale(1.1);
}

.icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.projects {
  background-color: #000016;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: transform 0.7s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-image img {
  width: 100%;
  max-height: 206px;
}

.project-card:hover .project-image {
  opacity: 0.9;
}

.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
  color: black;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 800;
}

.more-details {
  text-decoration: none;
  color: #3a6cf4;
}

.more-details:hover {
  color: #601cfc;
}

.contact .icon {
  font-size: 4.5em;
}

.contact .info h3 {
  color: black;
}

.contact .info p {
  font-size: 1.5em;
}

.chat-me,
.email-me {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 1px;
  padding: 0.9375em 1.5em;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: transform 0.5s ease;
}

.chat-me a {
  color: white;
}

.chat-me:hover {
  transform: scale(1.05);
  background-color: #1eb33e;
  color: white;
}

#contact .card:nth-child(1):hover .icon i {
  color: #22c245;
}

.email-me a {
  color: white;
}

.email-me:hover {
  transform: scale(1.05);
  background-color: #5f1cfc;
  color: white;
}

#contact .card:nth-child(2):hover .icon i {
  color: #5f1cfc;
}

footer {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #3a6cf4;
}

footer .social-icons a {
  font-size: 2em;
  padding: 0 12px 0 0;
}

footer .social-icons a:nth-child(1):hover {
  color: #4078c0;
}

footer .social-icons a:nth-child(2):hover {
  color: #0077B5;
}

footer .social-icons a:nth-child(3):hover i {
  background: #833ab4;
  background: linear-gradient(200deg,
      #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .social-icons a:nth-child(4):hover {
  color: #1877F2;
}

footer .social-icons a:nth-child(5):hover {
  color: #FF0000;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  section {
    padding: 80px 50px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  header {
    padding: 12px 12px;
  }

  .navigation a {
    padding-left: 10px;
  }

  .title {
    font-size: 1.8em;
  }

  section {
    padding: 80px 25px;
    margin-bottom: 0px;
  }

  .main {
    text-align: center;
    background-position: left;
    background-size: cover;
  }

  .main-content h2 {
    font-size: 1em;
  }

  .main-content h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: row;
    align-items: center;
  }

}

@media (min-width:768px) and (max-width: 1024px) {
  header {
    padding: 12px 12px;
  }

  .navigation a {
    padding-left: 10px;
  }

  .title {
    font-size: 1.8em;
  }

  .main {
    text-align: center;

  }

  section {
    padding: 80px 220px;
  }

  .main-content h2 {
    font-size: 1em;
  }

  .main-content h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .main {
    background-position: left;
    background-size: auto;
  }
}

@media (max-width:767px) {
  body {
    font-size: 12px;
  }

  header {
    padding: 10px 10px;
  }

  section {
    margin-bottom: 0px;
    padding: 0;
  }

  .main {
    text-align: center;
    background-position: top left;
  }

  .main-content h2 {
    font-size: 0.8em;
  }

  .main-content h3 {
    font-size: 1.4em;
  }

  .main li:last-child {
    margin-bottom: 10px;
  }

  .main-btn {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .main .social-icons {
    padding-left: 35px;
  }
}

@media (max-width:300px) {
  body {
    font-size: 10px;
  }

  .main {
    height: 100vh;
    overflow: hidden;
  }
}
